<template>

	<div :class="[width ? `_part${width}` : false, 'btrip-input-field']">
		<label :for="id">{{ label }}</label>
		<input
			:id="id"
			inputmode="numeric"
			:name="id"
			spellcheck="false"
			class="btrip-input-number"
			:required="required"
			:placeholder="placeholder"
			:readonly="readonly"
			:value="value"
			ref="numericInput"
			@input="checkIsValid"
		>
	</div>

</template>

<script>

	export default {
		name: 'BTripInputNumber',

		props: {
			label: {
				type: String,
				required: true
			},

			placeholder: {
				type: String,
				required: false
			},

			id: {
				type: String,
				required: true
			},

			required: {
				type: Boolean,
				required: true
			},

			is_float: {
				type: Boolean,
				required: true
			},

			readonly: {
				type: Boolean,
				required: false
			},

			width: {
				type: Number,
				required: false
			},

			value: {
				required: true
			}
		},

		methods: {
			checkIsValid() {
				let val = this.$refs.numericInput.value
				let dot_used = false

				this.$refs.numericInput.value = Array.prototype.filter.call(val, (char, i) => {
					if (this.is_float) {
						if(char === '.' || char === ',') {
							if(dot_used) {
								return false
							}
							return dot_used = true
						}
					}

					return !isNaN(char)
				}).join('')

				this.$emit(`set-${this.id}-value`, Number(this.$refs.numericInput.value.replace(',', '.')))
			}
		}
	}

</script>

<style>

	.btrip-input-number {
		width: 100%;
		max-width: 100%;
		border: 1px solid #dbdbdb;
		-webkit-appearance: none;
		font-size: 1rem;
		height: 2.25rem;
		line-height: 1.5;
		padding: 0 0.75rem;
		margin: 0;
		box-sizing: inherit;
		letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
		text-rendering: auto;
		cursor: text;
		border-radius: 3px;
		outline: none;
	}

	.btrip-input-number:focus,
	.btrip-input-number:active,
	.btrip-input-number:hover {
		box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
	}

	.btrip-input-number[readonly] {
		background-color: #f3f3f3;
	}

</style>