<template>

	<div
		class="btrip-input-field _rows"
		:style="`z-index: ${address.index}`"
	>
		<div class="btrip-input-address-inner">
			<label :for="address.id">{{ address.input }}</label>
			<input
				:id="address.id"
				type="text"
				:name="address.id"
				spellcheck="false"
				class="btrip-input-address"
				:required="`${required ? true : false}`"
				:value="address.params.address"
				ref="addressInput"
				@input="typeAddress"
				@focus="showResults"
				@blur="hideResults"
			>

			<div
				v-if="required"
				class="btrip-error-message"
			>{{ required }}</div>

			<ul
				class="b-trip-suggestions-list"
				v-if="address.result.length > 0"
				v-show="!out_of_focus"
			>
				<li class="b-trip-suggestions-item"
					v-for="(item, index) in address.result"
					:key="index"
					@click="setChosenAddress(item)"
				>{{ getQueryResultsValue(item) }}</li>
			</ul>

		</div>

		<div class="btrip-input-address-inner" v-if="address.passengers">
			<label :for="address.id + '_pass'">{{ address.passengers }}</label>
			<input
				inputmode="numeric"
				:name="address.id + '_pass'"
				:value="address.params.passengers"
				spellcheck="false"
				class="btrip-input-passengers"
				ref="passengersInput"
				@input="typePassengers"
			>
		</div>

		<div class="btrip-input-address-inner" v-if="address.kilometers">
			<label :for="address.id + '_km'">{{ address.kilometers }}</label>
			<input
				inputmode="numeric"
				:name="address.id + '_km'"
				:value="Number(address.params.mileage.toFixed(2))"
				spellcheck="false"
				class="btrip-input-kilometers"
				ref="mileageInput"
				@input="typeMileage"
			>
		</div>

		<button
			v-if="address.passengers"
			class="btrip-address-remove"
			@click="removeAddress"
		>

			<b-trip-icons name="minus" />

		</button>
	</div>

</template>

<script>

	import BTripIcons from '../components/BTripIcons.vue'

	export default {
		name: 'BTripInputAddress',

		components: {
			BTripIcons
		},

		props: {
			address: {
				type: Object,
				required: false
			},

			geocoding: {
				type: Object,
				required: false
			},

			required: {
				type: String,
				required: false
			}
		},

		data() {
			return {
				out_of_focus: false
			}
		},

		methods: {
			removeAddress(e) {
				e.preventDefault()
				this.$emit('remove-address', this.address.id)
			},

			getQueryResultsValue(item) {
				if (item) {
					switch(this.geocoding.name) {
						case 'mapbox':
							return item.original.place_name
							break
						case 'gmaps':
							return item.description
							break
					}
				}
			},

			typeAddress() {
				this.$emit('type-address', { id: this.address.id, query: this.$refs.addressInput.value })
			},

			typePassengers() {
				let val = this.$refs.passengersInput.value

				this.$refs.passengersInput.value = Array.prototype.filter.call(val, (char, i) => !isNaN(char)).join('')

				this.$emit('type-passengers', { id: this.address.id, value: Number(this.$refs.passengersInput.value) })
			},

			typeMileage() {
				let val = this.$refs.mileageInput.value
				let dot_used = false

				this.$refs.mileageInput.value = Array.prototype.filter.call(val, (char, i) => {
					if(char === '.' || char === ',') {
						if(dot_used) {
							return false
						}
						return dot_used = true
					}

					return !isNaN(char)
				}).join('')

				this.$emit('type-mileage', { id: this.address.id, value: Number(this.$refs.mileageInput.value.replace(',', '.')) })
			},

			setChosenAddress(item) {
				switch(this.geocoding.name) {
					case 'mapbox':
						this.$emit('type-address', { id: this.address.id, query: item.original.place_name })
						this.$emit('choose-address', { id: this.address.id, chosen: item.original.geometry.coordinates })
						break
					case 'gmaps':
						this.$emit('type-address', { id: this.address.id, query: item.description })
						this.$emit('choose-address', { id: this.address.id, chosen: item.id, loc: item.description })
				}
			},

			showResults() {
				this.out_of_focus = false
			},

			hideResults(e) {
				setTimeout(() => this.out_of_focus = true, 200)
			}
		}
	}

</script>

<style>

	.btrip-input-address,
	.btrip-input-passengers,
	.btrip-input-kilometers {
		width: 100%;
		max-width: 100%;
		border: 1px solid #dbdbdb;
		-webkit-appearance: none;
		font-size: 1rem;
		height: 2.25rem;
		line-height: 1.5;
		padding: 0 0.75rem;
		margin: 0;
		box-sizing: inherit;
		letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
		text-rendering: auto;
		cursor: text;
		border-radius: 3px;
		outline: none;
	}

	.btrip-input-address:focus,
	.btrip-input-address:active,
	.btrip-input-address:hover,
	.btrip-input-passengers:focus,
	.btrip-input-passengers:active,
	.btrip-input-passengers:hover,
	.btrip-input-kilometers:focus,
	.btrip-input-kilometers:active,
	.btrip-input-kilometers:hover {
		box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
	}

	.btrip-input-address-inner {
		max-width: calc(25% - 10px);
		margin-left: 10px;
	}

	.btrip-input-address-inner:first-child {
		max-width: calc(50% - 40px);
		margin-left: 0;
	}

	.btrip-address-remove {
		flex: none;
		width: 30px;
		height: 30px;
		font-size: 0;
		border-radius: 50%;
		border: 0;
		margin-left: 10px;
		margin-top: 21px;
		cursor: pointer;
		outline: none;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #1284e7;
	}

	.btrip-address-remove svg {
		width: 15px;
		height: 15px;
		fill: #ffffff;
	}

	.b-trip-suggestions-list {
		box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
		position: absolute;
    background-color: #ffffff;
    width: 100%;
    top: 55px;
    left: 0;
	}

	.b-trip-suggestions-list .b-trip-suggestions-item {
		cursor: pointer;
		padding: 10px;
		border-bottom: 1px solid #cecece;
	}

	.b-trip-suggestions-item:hover {
		color: #1284e7;
	}

</style>