<template>

	<div :class="[width ? `_part${width}` : false, 'btrip-input-field']">
		<label :for="id">{{ label }}</label>
		<input
			:id="id"
			:type="type"
			:name="id"
			spellcheck="false"
			class="btrip-input-time"
			:required="`${required ? true : false}`"
			:placeholder="placeholder"
			v-model="time_value"
			maxlength="5"
			@blur="checkIsValidValue"
			@paste="e => e.preventDefault()"
			@keyup="keyHandler"
		>
		<div
			v-if="required && format_error"
			class="btrip-error-message"
		>{{ format_error }}</div>
		<div
			v-if="required && is_inconsistency_error && !format_error"
			class="btrip-error-message"
		>{{ required.invalid_inconsistency_value }}</div>
	</div>

</template>

<script>

	export default {
		name: 'BTripInputField',

		props: {
			label: {
				type: String,
				required: true
			},

			required: {
				type: Object,
				required: false
			},

			matched_date: {
				type: Date,
				required: false
			},

			opposite_date: {
				type: Date,
				required: false
			},

			type: {
				type: String,
				required: false
			},

			default_time: {
				type: String,
				required: false
			},

			id: {
				type: String,
				required: true
			},

			is_inconsistency_error: {
				type: Boolean,
				required: true
			},

			placeholder: {
				type: String,
				required: true
			},

			width: {
				type: Number,
				required: false
			}
		},

		data() {
			return {
				time_value: this.default_time ? this.default_time : '',

				format_error: null
			}
		},

		methods: {
			checkIsValidValue() {
				let value = this.time_value

				if (value === '') return this.format_error = this.required.empty_value

				if (value.length < 5) {

					if (value.length === 1) {
						const time_value = `0${value}:00`
						this.time_value = time_value
					}

					if (value.length === 2) {
						this.time_value += ':00'
					}

					if (value.length === 3) {
						this.time_value += '00'
					}

					if (value.length === 4) {
						this.time_value += '0'
					}

					return this.$emit(`set-${this.id}`, this.time_value)
				}
			},

			replaceBadInputs(val) {
				val = val.replace(/[^\dh:]/, '')
				val = val.replace(/^[^0-2]/, '')
				val = val.replace(/^([2-9])[4-9]/, '$1')
				val = val.replace(/^\d[:h]/, '$1')
				val = val.replace(/^([01][0-9])[^:h]/, '$1')
				val = val.replace(/^(2[0-3])[^:h]/, '$1');     
				val = val.replace(/^(\d{2}[:h])[^0-5]/, '$1')
				val = val.replace(/^(\d{2}h)./, '$1');     
				val = val.replace(/^(\d{2}:[0-5])[^0-9]/, '$1')
				val = val.replace(/^(\d{2}:\d[0-9])./, '$1')
				return val
			},

			keyHandler(e) {
				if (e.keyCode === 13) return e.target.blur()

				this.format_error = null

				if (e.keyCode !== 8) {
					let value = this.time_value
					let last_length

					do {
						last_length = value.length
						value = this.replaceBadInputs(value)
					} while(value.length > 0 && last_length !== value.length)

					this.time_value = value

					if (value.length === 2) this.time_value += ':'

					if (value.length === 5) this.$emit(`set-${this.id}`, this.time_value)
				} else {
					if (this.time_value.length === 0) {
						this.format_error = null
						this.$emit(`set-${this.id}`, null)
					}
				}
			}
		}
	}

</script>

<style>

	.btrip-input-time {
		width: 100%;
		max-width: 100%;
		border: 1px solid #dbdbdb;
		-webkit-appearance: none;
		font-size: 1rem;
		height: 2.25rem;
		line-height: 1.5;
		padding: 0 0.75rem;
		margin: 0;
		box-sizing: inherit;
		letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
		text-rendering: auto;
		cursor: text;
		border-radius: 3px;
		outline: none;
	}

	.btrip-input-time:focus,
	.btrip-input-time:active,
	.btrip-input-time:hover {
		box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
	}

</style>