<template>

	<div
		:class="[width ? `_part${width}` : false, 'btrip-input-field']"
		:style="`z-index: ${index}`"
	>
		<label :for="id">{{ label }}</label>
		<div class="btrip-datepicker">
			<input
				:id="id"
				:type="type"
				:name="id"
				spellcheck="false"
				class="btrip-input-date"
				:required="`${required ? true : false}`"
				readonly
				v-model="formatted_date"
				:placeholder="placeholder"
				@focus="showDatePicker"
			>
			<div
				class="btrip-datepicker-dropdown"
				v-if="is_active"
				tabindex="1"
				ref="datepickerDropdown"
				@blur="hideDatePicker"
			>
				<div class="btrip-datepicker-selected">
					<div class="btrip-datepicker-wrapper">
						<div class="btrip-datepicker-heading">
							<div
								class="_arrows _prev"
								@click="switchOnPrevMonth"
								v-if="current_view === 'days'"
							>

								<b-trip-icons name="arrow" />

							</div>
							
							<div
								class="_basic"
							>
								<span v-if="current_view === 'days'" @click="switchDatePickerMode('months')">{{ month_year_heading.month }}</span>
								<span v-if="current_view !== 'years'" @click="switchDatePickerMode('years')">{{ month_year_heading.year }}</span>
								<span v-if="current_view === 'years'" @click="switchDatePickerMode('days')">

									<b-trip-icons name="arrow" />

								</span>
							</div>

							<div
								class="_arrows _next"
								@click="switchOnNextMonth"
								v-if="current_view === 'days'"
							>

								<b-trip-icons name="arrow" />

							</div>
						</div>

						<div class="btrip-datepicker-dates" id="days" v-if="current_view === 'days'">

							<ul class="btrip-datepicker-week-list">

								<li
									class="btrip-datepicker-week-item"
									v-for="(item, index) in week"
									:key="index"
								>{{ item.short }}</li>

							</ul>

							<ul class="btrip-datepicker-date-list">
								<li
									:class="[{'_active' : date_object.day === item}, 'btrip-datepicker-date-item']"
									v-for="(item, index) in month_days"
									:key="index"
								>
									<span
										@click="chooseDay(item)"
										role="button"
										:disabled="item === null || !isAccessibleDate(date_object.month, item, date_object.year)"
									>{{ item }}</span>
								</li>
							</ul>
						</div>

						<div class="btrip-datepicker-dates" id="months" v-if="current_view === 'months'">
							<ul class="btrip-datepicker-date-list">
								<li
									:class="[{'_active' : date_object.month === index}, 'btrip-datepicker-date-item']"
									v-for="(item, index) in months"
									role="button"
									:key="index"
								>
									<span @click="chooseMonth(index)">{{ item.short }}</span>
								</li>
							</ul>
						</div>

						<div class="btrip-datepicker-dates" id="years" v-if="current_view === 'years'">
							<ul class="btrip-datepicker-date-list">
								<li class="btrip-datepicker-date-item">
									<span
										@click="chooseYear(date_object.year - 1)"
										:disabled="!isAccessibleDate(date_object.month, date_object.day, date_object.year - 1)"
										role="button"
									>{{ date_object.year - 1 }}</span>
								</li>
								<li class="btrip-datepicker-date-item _active">
									<span @click="chooseYear(date_object.year)">{{ date_object.year }}</span>
								</li>
								<li class="btrip-datepicker-date-item">
									<span
										@click="chooseYear(date_object.year + 1)"
										:disabled="!isAccessibleDate(date_object.month, date_object.day, date_object.year + 1)"
										role="button"
									>{{ date_object.year + 1 }}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div
			v-if="required"
			class="btrip-error-message"
		>{{ required }}</div> -->
	</div>

</template>

<script>

	import BTripIcons from './BTripIcons.vue'

	export default {
		name: 'BTripInputDate',

		components: {
			BTripIcons
		},

		props: {
			label: {
				type: String,
				required: true
			},

			required: {
				type: String,
				required: false
			},

			months: {
				type: Array,
				required: true
			},

			week: {
				type: Array,
				required: true
			},

			opposite_date: {
				type: Date,
				required: false
			},

			placeholder: {
				type: String,
				required: false
			},

			type: {
				type: String,
				required: false
			},

			id: {
				type: String,
				required: true
			},

			index: {
				type: Number,
				required: true
			},

			width: {
				type: Number,
				required: false
			}
		},

		created() {
			this.date_object.date = new Date(),
			this.date_object.day = this.date_object.date.getDate()
			this.date_object.month = this.date_object.date.getMonth()
			this.date_object.year = this.date_object.date.getFullYear()
			this.formatted_date = ''
			this.month_year_heading.month = this.months[this.date_object.month].long
			this.month_year_heading.year = this.date_object.year
			this.getDaysLength()
			this.createMonthDaysArray()
		},

		data() {
			return {
				is_active: false,

				current_view: 'days',

				prev_month_length: 0,

				current_month_length: 0,

				next_month_length: 0,

				first_month_day: 0,

				last_month_day: 0,

				date_object: {},

				month_days: [],

				formatted_date: '',

				month_year_heading: {}
			}
		},

		methods: {
			showDatePicker() {
				this.is_active = true
				this.$nextTick(() => this.$refs.datepickerDropdown.focus())
			},

			hideDatePicker() {
				this.is_active = false
			},

			switchDatePickerMode(mode) {
				this.current_view = mode
			},

			switchOnPrevMonth(event) {
				event.preventDefault()

				if (this.date_object.month === 0) {
					this.date_object.month = 11
					this.date_object.year--
				} else {
					this.date_object.month--
				}

				this.month_year_heading.month = this.months[this.date_object.month].long
				this.month_year_heading.year = this.date_object.year

				this.formatted_date = this.getFormattedDate()
				this.getDaysLength()
				this.createMonthDaysArray()
				this.$emit(`set-${this.id}-date`, new Date(`${this.date_object.month + 1}.${this.date_object.day}.${this.date_object.year}`))
			},

			switchOnNextMonth() {
				if (this.date_object.month < 11) {
					this.date_object.month++
				} else {
					this.date_object.month = 0
					this.date_object.year++
				}

				this.month_year_heading.month = this.months[this.date_object.month].long
				this.month_year_heading.year = this.date_object.year

				this.formatted_date = this.getFormattedDate()
				this.getDaysLength()
				this.createMonthDaysArray()
				this.$emit(`set-${this.id}-date`, new Date(`${this.date_object.month + 1}.${this.date_object.day}.${this.date_object.year}`))
			},

			chooseDay(day) {
				this.date_object.day = day
				this.formatted_date = this.getFormattedDate()
				this.is_active = false
				this.$emit(`set-${this.id}-date`, new Date(`${this.date_object.month + 1}.${this.date_object.day}.${this.date_object.year}`))
			},

			chooseMonth(month) {
				if (!this.isAccessibleDate(month, this.date_object.day, this.date_object.year)) {
					this.id === 'btrip-departure' ? this.date_object.year-- : this.date_object.year++
					this.month_year_heading.year = this.date_object.year
				}

				this.month_year_heading.month = this.months[month].long
				this.date_object.month = month
				this.formatted_date = this.getFormattedDate()
				this.switchDatePickerMode('days')
				this.getDaysLength()
				this.createMonthDaysArray()
				this.$emit(`set-${this.id}-date`, new Date(`${this.date_object.month + 1}.${this.date_object.day}.${this.date_object.year}`))
			},

			chooseYear(year) {
				this.month_year_heading.year = year
				this.date_object.year = year
				this.formatted_date = this.getFormattedDate()
				this.switchDatePickerMode('days')
				this.getDaysLength()
				this.createMonthDaysArray()
				this.$emit(`set-${this.id}-date`, new Date(`${this.date_object.month + 1}.${this.date_object.day}.${this.date_object.year}`))
			},

			getDaysLength() {
				switch(this.date_object.month) {
					case 0:
						this.prev_month_length = 31
						this.current_month_length = 31
						this.next_month_length = this.isLeapYear() ? 29 : 28
						break
					case 1:
						this.prev_month_length = 31
						this.current_month_length = this.isLeapYear() ? 29 : 28
						this.prev_month_length = 31
						break
					case 2:
						this.prev_month_length = this.isLeapYear() ? 29 : 28
						this.current_month_length = 31
						this.next_month_length = 30
						break
					case 3:
						this.prev_month_length = 31
						this.current_month_length = 30
						this.next_month_length = 31
						break
					case 4:
						this.prev_month_length = 30
						this.current_month_length = 31
						this.next_month_length = 30
						break
					case 5:
						this.prev_month_length = 31
						this.current_month_length = 30
						this.next_month_length = 31
						break
					case 6:
						this.prev_month_length = 30
						this.current_month_length = 31
						this.next_month_length = 31
						break
					case 7:
						this.prev_month_length = 31
						this.current_month_length = 31
						this.next_month_length = 30
						break
					case 8:
						this.prev_month_length = 31
						this.current_month_length = 30
						this.next_month_length = 31
						break
					case 9:
						this.prev_month_length = 30
						this.current_month_length = 31
						this.next_month_length = 30
						break
					case 10:
						this.prev_month_length = 31
						this.current_month_length = 30
						this.next_month_length = 31
						break
					case 11:
						this.prev_month_length = 30
						this.current_month_length = 31
						this.next_month_length = 31
						break
				}
			},

			isLeapYear() {
				if (this.date_object.year > 1582) return !((this.date_object.year % 4) || (!(this.date_object.year % 100) && (this.date_object.year % 400)))
				if (this.date_object.year >= 0) return !(this.date_object.year % 4)
				if (this.date_object.year >= -45) return !((this.date_object.year + 1) % 4)
				return false;
			},

			createMonthDaysArray() {
				const first_month_day = new Date(`${this.date_object.month + 1}.01.${this.date_object.year}`).getDay()
				const last_month_day = new Date(`${this.date_object.month + 1}.${this.current_month_length}.${this.date_object.year}`).getDay()

				this.first_month_day = first_month_day > 0 ? first_month_day : 7
				this.last_month_day = last_month_day > 0 ? last_month_day : 7

				const prev_month_last_days = []
				const next_month_last_days = []
				const current_month_days = []

				for (let i = 0; i < this.first_month_day - 1; i++) {
					prev_month_last_days.push(null)
				}

				for (let i = 0; i < 7 - this.last_month_day; i++) {
					next_month_last_days.push(null)
				}

				for (let i = 0; i < this.current_month_length; i++) {
					current_month_days.push(i + 1)
				}

				this.month_days = [].concat(prev_month_last_days, current_month_days, next_month_last_days)
			},

			getFormattedDate() {
				const day = String(this.date_object.day).length < 2 ? `0${this.date_object.day}` : this.date_object.day
				const month = String(this.date_object.month + 1).length < 2 ? `0${this.date_object.month + 1}` : this.date_object.month + 1

				return `${day}.${month}.${this.date_object.year}`
			},

			isAccessibleDate(month, day, year) {
				const iterable_date = new Date(`${month + 1}.${day}.${year}`)
				return this.id === 'btrip-departure'
					? iterable_date <= this.opposite_date || this.opposite_date === null
					: iterable_date >= this.opposite_date || this.opposite_date === null
			}
		}
	}

</script>

<style>

	.btrip-datepicker {
		position: relative;
	}

	.btrip-datepicker-dropdown {
		position: absolute;
		width: 310px;
		box-shadow: 0 1px 2px hsla(0,0%,4%,.5);
		bottom: -10px;
		transform: translate3d(0, 100%, 0);
		background-color: #ffffff;
		padding: 10px 5px;
		outline: none;
		user-select: none;
	}

	.btrip-input-date {
		width: 100%;
		max-width: 100%;
		border: 1px solid #dbdbdb;
		-webkit-appearance: none;
		font-size: 1rem;
		height: 2.25rem;
		line-height: 1.5;
		padding: 0 0.75rem;
		margin: 0;
		box-sizing: inherit;
		letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
		text-rendering: auto;
		cursor: text;
		border-radius: 3px;
		outline: none;
	}

	.btrip-input-date:focus,
	.btrip-input-date:active,
	.btrip-input-date:hover {
		box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
	}

	.btrip-datepicker-heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 6px;
	}

	.btrip-datepicker-heading ._arrows {
		width: 20px;
		height: 20px;
		padding: 3px;
		cursor: pointer;
		background-color: transparent;
	}

	.btrip-datepicker-heading ._arrows._prev svg {
		transform: rotate(180deg)
	}

	.btrip-datepicker-heading ._basic {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 0;
	}

	.btrip-datepicker-heading ._basic span {
		cursor: pointer;
		min-width: 30px;
	}

	.btrip-datepicker-heading ._basic span svg {
		height: 15px;
		transform: rotate(180deg);
	}

	.btrip-datepicker-heading ._basic span:hover {
		color: #1284e7;
	}

	.btrip-datepicker-heading ._basic span:first-child {
		padding: 5px 2px 5px 5px;
	}

	.btrip-datepicker-heading ._basic span:last-child {
		padding: 5px 5px 5px 2px;
	}

	.btrip-datepicker-dates {
		margin-top: 15px;
	}

	.btrip-datepicker-dates#days .btrip-datepicker-date-item {
		width: 14.2857%;
	}

	.btrip-datepicker-dates#months .btrip-datepicker-date-item,
	.btrip-datepicker-dates#years .btrip-datepicker-date-item {
		width: 33.3333%;
	}

	.btrip-datepicker-week-list {
		display: flex;
		margin: 5px 0;
    padding: 0;
	}

	.btrip-datepicker-week-item {
		width: 33.3333%;
		text-align: center;
		font-size: 0.75rem;
	}

	.btrip-datepicker-date-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
    padding: 0;
	}

	.btrip-datepicker-date-item {
		display: flex;
		padding: 1px;
	}

	.btrip-datepicker-date-item span {
		flex: none;
		width: 100%;
		height: 100%;
		border-radius: 3px;
		text-align: center;
		cursor: pointer;
		padding: 10px;
		font-size: 0.75rem;
	}

	.btrip-datepicker-date-item span[disabled] {
		pointer-events: none;
		opacity: 0.5;
	}

	.btrip-datepicker-date-item span:not([disabled]):hover,
	.btrip-datepicker-date-item._active span {
		background-color: #1284e7;
		color: #ffffff;
	}

</style>