<template>

	<div
		class="btrip-input-field"
	>
		<label :for="id">{{ label }}</label>
		<input
			:id="id"
			:type="type"
			:name="id"
			spellcheck="false"
			class="btrip-input-text"
			:required="`${required ? true : false}`"
		>
		<!-- <div
			v-if="required"
			class="btrip-error-message"
		>{{ required }}</div> -->
	</div>

</template>

<script>

	export default {
		name: 'BTripInputText',

		props: {
			label: {
				type: String,
				required: true
			},

			required: {
				type: String,
				required: false
			},

			type: {
				type: String,
				required: false
			},

			id: {
				type: String,
				required: true
			}
		}
	}

</script>

<style>

	.btrip-input-text {
		width: 100%;
		max-width: 100%;
		border: 1px solid #dbdbdb;
		-webkit-appearance: none;
		font-size: 1rem;
		height: 2.25rem;
		line-height: 1.5;
		padding: 0 0.75rem;
		margin: 0;
		box-sizing: inherit;
		letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
		text-rendering: auto;
		cursor: text;
		border-radius: 3px;
		outline: none;
	}

	.btrip-input-text:focus,
	.btrip-input-text:active,
	.btrip-input-text:hover {
		box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
	}

</style>