<template>
	<div class="icon-container">
		<svg class="_icon" viewBox="0 0 511.995 511.995" v-if="name === 'arrow'">
			<path d="M381.039,248.62L146.373,3.287c-4.083-4.229-10.833-4.417-15.083-0.333c-4.25,4.073-4.396,10.823-0.333,15.083    L358.56,255.995L130.956,493.954c-4.063,4.26-3.917,11.01,0.333,15.083c2.063,1.979,4.729,2.958,7.375,2.958    c2.813,0,5.604-1.104,7.708-3.292L381.039,263.37C384.977,259.245,384.977,252.745,381.039,248.62z"/>
		</svg>

		<svg class="_icon" viewBox="0 0 298.667 298.667" v-if="name === 'minus'">
			<rect y="128" width="298.667" height="42.667"/>
		</svg>

		<svg class="_icon" viewBox="0 0 448 448" v-if="name === 'plus'">
			<path d="m272 184c-4.417969 0-8-3.582031-8-8v-176h-80v176c0 4.417969-3.582031 8-8 8h-176v80h176c4.417969 0 8 3.582031 8 8v176h80v-176c0-4.417969 3.582031-8 8-8h176v-80zm0 0"/>
		</svg>
	</div>

</template>

<script>

	export default {
		name: 'BTripIcons',

		props: {
			name: {
				type: String,
				required: true
			}
		}
	}

</script>