<template>

	<div class="btrip-input-field">
		<label :for="id">{{ label }}</label>
		<textarea
			:id="id"
			:name="id"
			spellcheck="false"
			class="btrip-input-textarea"
			:required="`${required ? true : false}`"
		></textarea>
		<div
			v-if="required"
			class="btrip-error-message"
		>{{ required }}</div>
	</div>

</template>

<script>

	export default {
		name: 'BTripInputTextarea',

		props: {
			label: {
				type: String,
				required: true
			},

			required: {
				type: String,
				required: false
			},

			id: {
				type: String,
				required: true
			}
		}
	}

</script>

<style>

	.btrip-input-textarea {
		width: 100%;
		max-width: 100%;
		resize: vertical;
		border: 1px solid #dbdbdb;
		-webkit-appearance: none;
		font-size: 1rem;
		height: 5.625rem;
		line-height: 1.5;
		padding: 0.5rem 0.75rem;
		margin: 0;
		font-family: inherit;
		box-sizing: inherit;
		letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
		text-rendering: auto;
		cursor: text;
		border-radius: 3px;
		outline: none;
	}

	.btrip-input-textarea:focus,
	.btrip-input-textarea:active,
	.btrip-input-textarea:hover {
		box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
	}

</style>