<template>

	<fieldset class="btrip-form-fieldset">
		<div class="btrip-form-fieldset-inner">
			<h1>SEND SECTION</h1>
		</div>
	</fieldset>

</template>

<script>

	export default {
		name: 'BTripSendSection'
	}

</script>