<template>

	<fieldset class="btrip-form-fieldset">
		<header class="btrip-form-fieldset-header">
			{{ `${messages.heading} (${formatTotalSum(km_rate/100)}&#8364;/${messages.distance})` }}
		</header>
		<div class="btrip-form-fieldset-inner">

			<b-trip-input-address
				v-for="(address, index) in addresses"
				:key="index"
				:address="address"
				:geocoding="geocoding"
				:required="messages.mileage_error_message"
				@remove-address="removeAddress"
				@type-address="typeAddress"
				@type-passengers="typePassengers"
				@type-mileage="typeMileage"
				@choose-address="chooseAddress"
			/>

			<button
				class="btrip-add-address"
				@click="createNewAddressField"
			>
			
				<b-trip-icons name="plus" />
			
			</button>

			<footer
				v-if="addresses.length > 0"
				class="btrip-mileage-footer"
			>
				<div class="btrip-mileage-footer-block">
					<div class="btrip-mileage-label">{{ messages.total_mileage_km }}</div>
					<div class="btrip-mileage-total">{{ formatTotalSum(Number(mileages.km.toFixed(2))) }}</div>
				</div>
				<div class="btrip-mileage-footer-block">
					<div class="btrip-mileage-label">{{ messages.total_mileage_allowance }}</div>
					<div class="btrip-mileage-total">{{ `${formatTotalSum(mileages.sum)} ${String.fromCharCode(8364)}` }}</div>
				</div>
			</footer>

			<div id="b-trip-map" v-show="false"></div>

			<img
				v-if="geocoding"
				:src="getGeoServiceLogo()"
				alt="Geo service powered by"
				class="btrip-geo-service-logo"
			>

		</div>
	</fieldset>

</template>

<script>

	import BTripInputAddress from '../components/BTripInputAddress.vue'
	import BTripIcons from '../components/BTripIcons.vue'

	export default {
		name: 'BTripMileageSection',

		props: {
			locale: {
				type: String,
				required: false
			},

			geocoding: {
				type: Object,
				required: false
			},

			addresses: {
				type: Array,
				required: true
			},

			messages: {
				type: Object,
				required: true
			},

			mileages: {
				type: Object,
				required: true
			},

			km_rate: {
				type: Number,
				required: true
			}
		},

		components: {
			BTripInputAddress,
			BTripIcons
		},

		mounted() {
			if (this.geocoding && this.geocoding.name === 'mapbox') {
				if (typeof mapboxgl === 'undefined') {
					const mapbox_scripts = [
						'https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js',
						'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js',
						'https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js'
					]

					this.getExternalScripts(mapbox_scripts)
				} else {
					if (this.geocoding) this.initMapBoxGeocoding()
				}
			} else if (this.geocoding && this.geocoding.name === 'gmaps') {
				if (typeof google === 'undefined') {
					const gmaps_scripts = [
						`https://maps.googleapis.com/maps/api/js?key=${this.geocoding.api_key}&libraries=places&language=${this.locale}`
					]

					this.getExternalScripts(gmaps_scripts)
				} else {
					if (this.geocoding) this.initGMapsGeocoding()
				}
			}
		},

		data() {
			return {
				map: null,

				geocoder: null,

				index: 1000
			}
		},

		methods: {
			async getExternalScripts(array) {
				let is_failed = false

				for (const script of array) {
					await new Promise((resolve, reject) => {
						const map_script = document.createElement('script')
						
						map_script.src = script						
						map_script.onload = () => resolve(map_script)
						map_script.onerror = () => reject(new Error(`Load failed: ${script}`))

						document.head.appendChild(map_script)
					}).catch(error => { is_failed = true; console.error(error) })
				}

				if (is_failed) {
					this.$emit('reset-geocoding', null)
				} else {
					switch(this.geocoding.name) {
						case 'mapbox':
							this.initMapBoxGeocoding()
							break
						case 'gmaps':
							this.initGMapsGeocoding()
					}
				}
			},

			getGeoServiceLogo() {
				switch(this.geocoding.name) {
					case 'mapbox':
						//return `${this.public_path}images/powered_by_mapbox_on_white_hdpi.png`
						return require('../images/powered_by_mapbox_on_white_hdpi.png')
						break
					case 'gmaps':
						//return `${this.public_path}images/powered_by_google_on_white_hdpi.png`
						return require('../images/powered_by_google_on_white_hdpi.png')
						break
				}
			},

			initMapBoxGeocoding() {
				const geocoding = this.geocoding

				mapboxgl.accessToken = geocoding.api_key

				this.map = new mapboxgl.Map({
					container: 'b-trip-map',
					style: 'mapbox://styles/mapbox/light-v9',
					center: [24.216791, 59.9610359],
					zoom: 7
				})

				this.geocoder = new MapboxGeocoder({
					accessToken: mapboxgl.accessToken,
					types: 'address',
					mapboxgl: mapboxgl,
					marker: false,
					placeholder: '',
					bbox: geocoding.bbox ? geocoding.bbox : [-167.343750, -54.775346, 179.140625, 77.841848]
				})

				this.map.addControl(this.geocoder)
				this.geocoder.options.language = `${this.locale.toLowerCase()}-${this.locale.toUpperCase()}`
				this.$emit('init-map', this.map)
			},

			initGMapsGeocoding() {
				this.map = new google.maps.Map(document.getElementById('b-trip-map'), {
					disableDefaultUI: true
				})
				this.$emit('init-map', this.map)
			},

			getMapBoxCoords(err, data) {
				if (data.lbounds) {
					this.map.fitBounds(data.lbounds)
				} else if (data.latlng) {
					this.map.setView([data.latlng[0], data.latlng[1]], 13)
				}
				this.$emit('init-map', this.map)
			},

			createNewAddressField(e) {
				e.preventDefault()
				this.index--

				const new_address = this.addresses.length === 0
					? {
						id: 'address_00',
						input: this.messages.departure_address,
						result: [],
						params: {
							address: '',
							mileage: 0,
							passengers: 0
						},
						index: this.index
					}
					: {
						id: `address_${this.addresses.length > 9 ? this.addresses.length : '0' + this.addresses.length}`,
						input: this.messages.destination_address,
						passengers: this.messages.passengers,
						kilometers: this.messages.kilometers,
						result: [],
						params: {
							address: '',
							mileage: 0,
							passengers: 0
						},
						index: this.index
					}

				this.$emit('append-new-address', new_address)
			},

			removeAddress(id) {
				this.$emit('remove-address', id)
			},

			typeAddress(data) {
				const geocoding = this.geocoding
				this.$emit('set-address-value', { id: data.id, value: data.query })

				if (geocoding) {
					switch(geocoding.name) {
						case 'mapbox':
							if (data.query.length > 2) {
								this.geocoder.query(data.query, this.getMapBoxCoords)
								this.$emit('set-address-results', { id: data.id, data: this.geocoder._typeahead.list.items })
							}
							break
						case 'gmaps':
							if (data.query.length > 2) {
								const service = new google.maps.places.AutocompleteService()
								const getSuggestions = (predictions, status) => {
									this.$emit('set-address-results', {
										id: data.id, data: predictions
											? predictions.filter(el => { if (el.structured_formatting.main_text !== 'homeless shelters') return el })
											: []
									})
								}

								const query_predictions_config = {
									input: `${geocoding.country_strict_mode ? geocoding.country_strict_mode : ''} ${data.query}`,
									types: ['(geocode)']
								}

								if (geocoding.bbox) {
									query_predictions_config.bounds = new google.maps.LatLngBounds(
										new google.maps.LatLng(geocoding.bbox[0], geocoding.bbox[1]),
										new google.maps.LatLng(geocoding.bbox[2], geocoding.bbox[3])
									)
								}
								
								service.getQueryPredictions(query_predictions_config, getSuggestions)
							}
					}
				}
			},

			typePassengers(data) {
				this.$emit('set-passengers-value', data)
			},

			typeMileage(data) {
				this.$emit('set-mileage-value', data)
			},

			chooseAddress(data) {
				switch(this.geocoding.name) {
					case 'mapbox':
						this.$emit('choose-address', data)
						break
					case 'gmaps':
						fetch(`https://maps.googleapis.com/maps/api/geocode/json?address=${data.loc}&key=${this.geocoding.api_key}&libraries=places&language=${this.locale}`)
							.then(response => response.json())
							.then(response => {
								data.loc = response.results[0].geometry.location
								this.$emit('choose-address', data)
							})
				}
			},

			formatTotalSum(sum) {
				const loc_code = `${this.locale.toLowerCase()}-${this.locale.toUpperCase()}`
				return `${sum.toLocaleString(loc_code, { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`
			}
		}
	}

</script>

<style>

	.btrip-add-address {
		flex: none;
		width: 30px;
		height: 30px;
		font-size: 0;
		border-radius: 50%;
		border: 0;
		margin-left: 10px;
		margin-top: 21px;
		margin-bottom: 30px;
		cursor: pointer;
		outline: none;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #1284e7;
	}

	.btrip-add-address svg {
		width: 15px;
		height: 15px;
		fill: #ffffff;
	}

	.btrip-mileage-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
    border-radius: 5px;
    background: #f1f1f1;
		flex: none;
		width: 100%;
	}

	.btrip-mileage-footer-block {
		text-align: center;
	}

	.btrip-mileage-label {
		font-size: 0.875rem;
		font-weight: 700;
		margin-bottom: 3px;
	}

	.btrip-mileage-total {
		font-weight: 700;
		font-size: 1.25rem;
	}

	.btrip-geo-service-logo {
		flex: none;
		align-self: flex-end;
		margin-left: auto;
		max-width: 150px;
		max-height: 20px;
		height: auto;
		margin-top: 15px;
	}

</style>