<template>

	<fieldset class="btrip-form-fieldset">
		<header class="btrip-form-fieldset-header">{{ messages.heading }}</header>
		<div class="btrip-form-fieldset-inner">

			<!-- Departure input date -->
			<b-trip-input-date
				:label="messages.departure_date"
				:required="messages.departure_date_error_message"
				:months="messages.months"
				:week="messages.week"
				:opposite_date="arrival_date"
				:placeholder="messages.date_placeholder"
				type="text"
				id="btrip-departure"
				:index="10"
				:width="75"
				@set-btrip-departure-date="setBtripDepartureDate"
			/>

			<!-- Departure input time -->
			<b-trip-input-time
				:label="messages.departure_time"
				:required="messages.departure_time_error_message"
				:matched_date="departure_date"
				:opposite_date="arrival_date"
				type="text"
				:default_time="departure_time"
				id="btrip-departure-time"
				:placeholder="messages.time_placeholder"
				:is_inconsistency_error="is_inconsistency_error"
				:width="25"
				@set-btrip-departure-time="setBtripDepartureTime"
			/>
			
			<!-- Arrival input date -->
			<b-trip-input-date
				:label="messages.arrival_date"
				:required="messages.arrival_date_error_message"
				:months="messages.months"
				:week="messages.week"
				:matched_date="arrival_date"
				:opposite_date="departure_date"
				:placeholder="messages.date_placeholder"
				type="text"
				id="btrip-arrival"
				:index="9"
				:width="75"
				@set-btrip-arrival-date="setBtripArrivalDate"
			/>

			<!-- Arrival input time -->
			<b-trip-input-time
				:label="messages.arrival_time"
				:required="messages.arrival_time_error_message"
				:opposite_date="departure_date"
				type="text"
				:default_time="arrival_time"
				id="btrip-arrival-time"
				:is_inconsistency_error="is_inconsistency_error"
				:placeholder="messages.time_placeholder"
				:width="25"
				@set-btrip-arrival-time="setBtripArrivalTime"
			/>

			<!-- Free meals quantity input -->
			<b-trip-input-number
				id="free-meals"
				:label="messages.free_meals"
				:placeholder="messages.quantity_placeholder"
				:required="false"
				:is_float="false"
				:value="free_meals_qty"
				@set-free-meals-value="setFreeMealsValue"
			/>

			<!-- Full allowances quantity input -->
			<b-trip-input-number
				v-if="full_allowances_qty > 0"
				id="meal-allowances"
				:label="messages.meal_allowances"
				:placeholder="messages.quantity_placeholder"
				:required="false"
				:is_float="false"
				:width="33"
				:readonly="true"
				:value="full_allowances_qty"
			/>

			<span
				class="b-trip-symbol"
				v-if="full_allowances_qty > 0"
			>
				<i>&#215;</i>
			</span>

			<!-- Full allowances unit price input -->
			<b-trip-input-number
				v-if="full_allowances_qty > 0"
				id="full-meals-price"
				:label="messages.meal_price"
				:required="false"
				:is_float="true"
				placeholder="0.00"
				:width="33"
				:value="full_daily"
				@set-full-meals-price-value="setFullMealsPrice"
			/>

			<span
				class="b-trip-symbol"
				v-if="full_allowances_qty > 0"
			>
				<i>=</i>
			</span>


			<!-- Full allowances total price input -->
			<b-trip-input-number
				v-if="full_allowances_qty > 0"
				id="meal-total"
				:label="messages.meal_total"
				:required="false"
				:is_float="true"
				placeholder="0.00"
				:readonly="true"
				:width="33"
				:value="full_meal_total_price"
			/>


			<!-- Half allowances quantity input -->
			<b-trip-input-number
				v-if="half_allowances_qty > 0"
				id="half-meal-allowances"
				:label="messages.half_meal_allowances"
				:placeholder="messages.quantity_placeholder"
				:required="false"
				:is_float="false"
				:width="33"
				:readonly="true"
				:value="half_allowances_qty"
			/>

			<span
				class="b-trip-symbol"
				v-if="half_allowances_qty > 0"
			>
				<i>&#215;</i>
			</span>

			<!-- Half allowances unit price input -->
			<b-trip-input-number
				v-if="half_allowances_qty > 0"
				id="half-meals-price"
				:label="messages.meal_price"
				:required="false"
				:is_float="true"
				placeholder="0.00"
				:width="33"
				:value="half_daily"
				@set-half-meals-price-value="setHalfMealsPrice"
			/>

			<span
				class="b-trip-symbol"
				v-if="half_allowances_qty > 0"
			>
				<i>=</i>
			</span>

			<!-- Half allowances total price input -->
			<b-trip-input-number
				v-if="half_allowances_qty > 0"
				id="half-meal-total"
				:label="messages.meal_total"
				:required="false"
				:is_float="true"
				placeholder="0.00"
				:readonly="true"
				:width="33"
				:value="half_meal_total_price"
			/>

			<footer class="btrip-supply-footer">
				<div class="btrip-supply-footer-block">
					<div class="btrip-supply-label">{{ messages.meal_hours }}</div>
					<div class="btrip-supply-total">{{ meal_sum }}</div>
				</div>
				<div class="btrip-supply-footer-block">
					<div class="btrip-supply-label">{{ messages.total_label }}</div>
					<div class="btrip-supply-total">{{ total_sum }}</div>
				</div>
			</footer>

		</div>
	</fieldset>

</template>

<script>

	import BTripInputDate from '../components/BTripInputDate.vue'
	import BTripInputTime from '../components/BTripInputTime.vue'
	import BTripInputNumber from '../components/BTripInputNumber.vue'

	export default {
		name: 'BTripDateSupplySection',

		props: {
			messages: {
				type: Object,
				required: true
			},

			departure_date: {
				type: Date,
				required: false
			},

			departure_time: {
				type: String,
				required: false
			},

			arrival_date: {
				type: Date,
				required: false
			},

			arrival_time: {
				type: String,
				required: false
			},

			is_inconsistency_error: {
				type: Boolean,
				required: true
			},

			meal_sum: {
				type: String,
				required: false
			},

			total_sum: {
				type: String,
				required: true
			},

			free_meals_qty: {
				type: Number,
				required: true
			},

			full_allowances_qty: {
				type: Number,
				required: true
			},

			full_daily: {
				type: Number,
				required: true
			},

			full_meal_total_price: {
				type: String,
				required: true
			},

			half_allowances_qty: {
				type: Number,
				required: true
			},

			half_daily: {
				type: Number,
				required: true
			},

			half_meal_total_price: {
				type: String,
				required: true
			}
		},

		components: {
			BTripInputDate,
			BTripInputTime,
			BTripInputNumber
		},

		methods: {
			setBtripDepartureDate(date) {
				this.$emit('set-btrip-departure-date', date)
			},

			setBtripArrivalDate(date) {
				this.$emit('set-btrip-arrival-date', date)
			},

			setBtripDepartureTime(time) {
				this.$emit('set-btrip-departure-time', time)
			},

			setBtripArrivalTime(time) {
				this.$emit('set-btrip-arrival-time', time)
			},

			setFullMealsPrice(num) {
				this.$emit('set-full-meals-price', num)
			},

			setHalfMealsPrice(num) {
				console.log(num)
				this.$emit('set-half-meals-price', num)
			},

			setFreeMealsValue(num) {
				this.$emit('set-free-meals-value', num)
			}
		}
	}

</script>

<style>

	.btrip-supply-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
    border-radius: 5px;
    background: #f1f1f1;
		flex: none;
		width: 100%;
	}

	.btrip-supply-footer-block {
		text-align: center;
	}

	.btrip-supply-label {
		font-size: 0.875rem;
		font-weight: 700;
		margin-bottom: 3px;
	}

	.btrip-supply-total {
		font-weight: 700;
		font-size: 1.25rem;
	}

	.b-trip-symbol {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.b-trip-symbol i {
		font-style: normal;
		font-size: 20px;
		margin-top: -10px;
	}

</style>