<template>

	<fieldset class="btrip-form-fieldset">
		<header class="btrip-form-fieldset-header">{{ messages.heading }}</header>
		<div class="btrip-form-fieldset-inner">

			<b-trip-input-text
				:label="messages.trip_purpose"
				:required="messages.trip_purpose_error_message"
				type="text"
				id="btrip-purpose"
			/>

			<b-trip-input-text
				:label="messages.registration_number"
				:required="messages.registration_number_error_message"
				:condition="condition"
				type="text"
				id="btrip-regnumber"
			/>

			<b-trip-input-textarea
				:label="messages.trip_purpose_detailed"
				id="btrip-regnumber"
			/>
			
		</div>
	</fieldset>

</template>

<script>

	import BTripInputText from '../components/BTripInputText.vue'
	import BTripInputTextarea from '../components/BTripInputTextarea.vue'

	export default {
		name: 'BTripPersonalDataSection',

		props: {
			messages: {
				type: Object,
				required: true
			},

			condition: {
				type: Boolean,
				required: false
			}
		},

		components: {
			BTripInputText,
			BTripInputTextarea
		}
	}

</script>