<template>
	<form class="btrip-form">

		<!-- Personal data section -->
		<b-trip-personal-data-section
			v-if="is_personal_section"
			:messages="content.personal_data"
		/>

		<!-- Date & supply section -->
		<b-trip-date-supply-section
			v-if="is_supply_section"
			:messages="content.date_supply"
			:departure_date="departure_date"
			:departure_time="departure_time"
			:arrival_date="arrival_date"
			:arrival_time="arrival_time"
			:is_inconsistency_error="is_inconsistency_error"
			:total_sum="total_supply_sum"
			:meal_sum="meal_total_hours"
			:free_meals_qty="free_meals_qty"
			:full_allowances_qty="full_allowances_qty"
			:full_daily="full_daily"
			:full_meal_total_price="full_meal_total_price"
			:half_allowances_qty="half_allowances_qty"
			:half_daily="half_daily"
			:half_meal_total_price="half_meal_total_price"
			@set-btrip-departure-date="setBtripDepartureDate"
			@set-btrip-arrival-date="setBtripArrivalDate"
			@set-btrip-departure-time="setBtripDepartureTime"
			@set-btrip-arrival-time="setBtripArrivalTime"
			@set-full-meals-price="setFullMealsPrice"
			@set-half-meals-price="setHalfMealsPrice"
			@set-free-meals-value="setFreeMealsValue"
		/>

		<!-- Mileage accounting section -->
		<b-trip-mileage-section
			v-if="is_mileage_section"
			:locale="locale"
			:geocoding="geocoding"
			:addresses="addresses"
			:messages="content.mileage"
			:mileages="mileage_total"
			:km_rate="full_daily_allowance"
			@init-map="initMap"
			@append-new-address="appendNewAddress"
			@remove-address="removeAddress"
			@set-address-results="setAddressResults"
			@set-address-value="setAddressValue"
			@set-passengers-value="setPassengersValue"
			@set-mileage-value="setMileageValue"
			@choose-address="chooseAddress"
			@reset-geocoding="resetGeocoding"
		/>

		<!-- Total paid section -->
		<div
			class="b-trip-main-total"
			v-if="mileage_total.sum > 0 || full_allowances_qty > 0 || half_allowances_qty > 0"
		>
			<div class="b-trip-total-label">{{ content.total.total_paid }}</div>
			<div class="b-trip-total-sum">{{ total_sum }}</div>
		</div>

		<!-- Submit section -->
		<b-trip-send-section
			v-if="is_send_section && (is_supply_section || is_mileage_section)"
		/>

	</form>
</template>

<script>

	import locales from './lang.js'
	import BTripPersonalDataSection from './blocks/BTripPersonalDataSection.vue'
	import BTripDateSupplySection from './blocks/BTripDateSupplySection.vue'
	import BTripMileageSection from './blocks/BTripMileageSection.vue'
	import BTripSendSection from './blocks/BTripSendSection.vue'
	
	export default {
		props: {
			locale: {
				type: String,
				required: false,
				default: 'en'
			},

			geo: {
				type: Object,
				required: false
			},

			mileage_rate: {
				type: Number,
				required: false,
				default: 0.43
			},

			passengers_rate: {
				type: Number,
				required: false,
				default: 6.98
			},

			half_daily_allowance: {
				type: Number,
				required: false,
				default: 20
			},

			full_daily_allowance: {
				type: Number,
				required: false,
				default: 43
			},

			is_personal_section: {
				type: Boolean,
				required: false,
				default: true
			},

			is_supply_section: {
				type: Boolean,
				required: false,
				default: true
			},

			is_mileage_section: {
				type: Boolean,
				required: false,
				default: true
			},

			is_send_section: {
				type: Boolean,
				required: false,
				default: true
			}
		},

		components: {
			BTripPersonalDataSection,
			BTripDateSupplySection,
			BTripMileageSection,
			BTripSendSection
		},

		created() {
			this.content = locales.find(loc => loc.lang.toLowerCase() === this.locale.toLowerCase())
		},

		data() {
			return {
				geocoding: this.geo,

				content: null,

				departure_date: null,

				departure_time: null,

				arrival_date: null,

				arrival_time: null,

				is_inconsistency_error: false,

				half_daily: this.half_daily_allowance,

				full_daily: this.full_daily_allowance,

				free_meals_qty: 0,

				full_allowances_qty: 0,

				full_meal_total_price: `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`,

				half_allowances_qty: 0,

				half_meal_total_price: `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`,

				map: null,

				addresses: [],

				allowance_total: {
					hrs: 0,
					sum: 0
				},

				mileage_total: {
					km: 0,
					sum: 0
				},

				meal_total_hours: `${this.formatTotalTime(0)}`,

				total_supply_sum: `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`,

				total_sum: `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`
			}
		},

		methods: {
			setBtripDepartureDate(date) {
				this.departure_date = date
				this.validateSupplyFieldsBeforeCalc()
			},

			setBtripArrivalDate(date) {
				this.arrival_date = date
				this.validateSupplyFieldsBeforeCalc()
			},

			setBtripDepartureTime(time) {
				this.departure_time = time
				this.validateSupplyFieldsBeforeCalc()
			},

			setBtripArrivalTime(time) {
				this.arrival_time = time
				this.validateSupplyFieldsBeforeCalc()
			},

			setFullMealsPrice(num) {
				this.full_daily = num
				this.calcSupplySection()
			},

			setHalfMealsPrice(num) {
				this.half_daily = num
				this.calcSupplySection()
			},

			setFreeMealsValue(num) {
				this.free_meals_qty = num
				this.recalcByFreeMealsQuantity()
			},

			recalcByFreeMealsQuantity() {
				this.totalSumCount()
			},

			validateSupplyFieldsBeforeCalc() {
				if (
					this.departure_date
					&& this.departure_time
					&& this.arrival_date
					&& this.arrival_time
				) {
					if (this.departure_date < this.arrival_date) {
						this.calcSupplySection()
					} else {
						if (Number(this.departure_time.replace(':', '')) > Number(this.arrival_time.replace(':', ''))) {
							this.is_inconsistency_error = true
							this.total_supply_sum = `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`
							this.meal_total_hours = `${this.formatTotalTime(0)}`
							this.allowance_total.hrs = this.allowance_total.sum = 0
						} else {
							this.calcSupplySection()
						}
					}
				} else {
					this.total_supply_sum = `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`
					this.meal_total_hours = `${this.formatTotalTime(0)}`
					this.allowance_total.hrs = this.allowance_total.sum = 0
				}
			},

			calcSupplySection() {
				this.is_inconsistency_error = false

				const departure_ms = +this.departure_date
					+ Number(this.departure_time.split(':')[0]) * 3.6e+6
					+ Number(this.departure_time.split(':')[1]) * 60000
				const arrival_ms = +this.arrival_date
					+ Number(this.arrival_time.split(':')[0]) * 3.6e+6
					+ Number(this.arrival_time.split(':')[1]) * 60000
				const absence_time = (arrival_ms - departure_ms) / 3.6e+6

				this.meal_total_hours = this.formatTotalTime(absence_time)
				this.allowance_total.hrs = absence_time

				if (absence_time <= 6) {
					this.total_supply_sum = `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`
					this.full_allowances_qty = this.half_allowances_qty = 0
					this.allowance_total.sum = 0
					this.full_meal_total_price = `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`
					this.half_meal_total_price = `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`
				}

				if (absence_time > 6 && absence_time <= 10) {
					this.total_supply_sum = `${this.formatTotalSum(this.half_daily)} ${String.fromCharCode(8364)}`
					this.allowance_total.sum = this.half_daily
					this.full_allowances_qty = 0
					this.half_allowances_qty = 1
					this.full_meal_total_price = `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`
					this.half_meal_total_price = `${this.formatTotalSum(this.half_daily)} ${String.fromCharCode(8364)}`
				}

				if (absence_time > 10 && absence_time <= 26) {
					this.total_supply_sum = `${this.formatTotalSum(this.full_daily)} ${String.fromCharCode(8364)}`
					this.allowance_total.sum = this.full_daily
					this.full_allowances_qty = 1
					this.half_allowances_qty = 0
					this.full_meal_total_price = `${this.formatTotalSum(this.full_daily)} ${String.fromCharCode(8364)}`
					this.half_meal_total_price = `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`
				}

				if (absence_time > 26 && absence_time <= 30) {
					this.total_supply_sum = `${this.formatTotalSum(this.half_daily + this.full_daily)} ${String.fromCharCode(8364)}`
					this.allowance_total.sum = this.half_daily + this.full_daily
					this.full_allowances_qty = this.half_allowances_qty = 1
					this.full_meal_total_price = `${this.formatTotalSum(this.full_daily)} ${String.fromCharCode(8364)}`
					this.half_meal_total_price = `${this.formatTotalSum(this.half_daily)} ${String.fromCharCode(8364)}`
				}

				if (absence_time > 30 && absence_time <= 50) {
					this.total_supply_sum = `${this.formatTotalSum(this.full_daily * 2)} ${String.fromCharCode(8364)}`
					this.allowance_total.sum = this.full_daily * 2
					this.full_allowances_qty = 2
					this.half_allowances_qty = 0
					this.full_meal_total_price = `${this.formatTotalSum(this.full_daily * 2)} ${String.fromCharCode(8364)}`
					this.half_meal_total_price = `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`
				}

				if (absence_time > 50) {
					const full_allowance_quantity = Math.trunc((absence_time - 0.016666666666666 + 18) / 24)
					const half_allowance_quantity = (Math.trunc((absence_time - 6 - 0.016666666666666)) % 24 > this.half_daily - 1 ? this.half_daily : 0) / this.half_daily
					const total_supply = this.full_daily * full_allowance_quantity + this.half_daily * half_allowance_quantity
					this.total_supply_sum = `${this.formatTotalSum(total_supply)} ${String.fromCharCode(8364)}`
					this.allowance_total.sum = total_supply
					this.full_allowances_qty = full_allowance_quantity
					this.half_allowances_qty = half_allowance_quantity
					this.full_meal_total_price = `${this.formatTotalSum(this.full_daily * full_allowance_quantity)} ${String.fromCharCode(8364)}`
					this.half_meal_total_price = `${this.formatTotalSum(this.half_daily)} ${String.fromCharCode(8364)}`
				}

				this.totalSumCount()
			},

			formatTotalTime(time) {
				const hours = String(Math.trunc(time)).length < 2 ? `0${Math.trunc(time)}` : Math.trunc(time)
				let minutes = Math.round((time - Math.trunc(time)) * 60)
				
				minutes = String(minutes).length < 2 ? `0${minutes}` : minutes
				return `${hours}:${minutes}`
			},

			formatTotalSum(sum) {
				const loc_code = `${this.locale.toLowerCase()}-${this.locale.toUpperCase()}`
				return `${sum.toLocaleString(loc_code, { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`
			},

			initMap(map) {
				this.map = map
			},

			appendNewAddress(address) {
				this.addresses.push(address)
			},

			removeAddress(id) {
				this.addresses = this.addresses.filter(el => el.id !== id)
				this.calcDistances()
			},

			setAddressResults(data) {
				this.addresses.find(el => el.id === data.id).result = data.data
			},

			setAddressValue(data) {
				const item = this.addresses.find(el => el.id === data.id)
				item.params.address = data.value
			},

			setPassengersValue(data) {
				const item = this.addresses.find(el => el.id === data.id)
				item.params.passengers = data.value
				this.recalcMileage()
			},

			setMileageValue(data) {
				const item = this.addresses.find(el => el.id === data.id)
				item.params.mileage = data.value
				this.recalcMileage()
			},

			recalcMileage() {
				this.mileage_total.km = 0
				this.mileage_total.sum = 0
				
				this.addresses.forEach((address, i) => {
					const next_address = this.addresses[i + 1]

					if (next_address) {
						const interval_money_sum = next_address.params.mileage * this.mileage_rate
						const interval_passengers_sum = interval_money_sum / 100 * this.passengers_rate * next_address.params.passengers

						this.mileage_total.km += next_address.params.mileage
						this.mileage_total.sum += interval_money_sum + interval_passengers_sum

						this.totalSumCount()
					}
				})
			},

			chooseAddress(data) {
				const item = this.addresses.find(el => el.id === data.id)
				let chosen_address
				
				switch(this.geocoding.name) {
					case 'mapbox':
						item.params.location = data.chosen
						this.calcDistances()
						break
					case 'gmaps':
						chosen_address = item.result.find(el => el.id === data.chosen)
						for (let key in chosen_address) item.params[key] = chosen_address[key]
						item.params.location = data.loc
						this.calcDistances()
						break
				}

				item.result = []
			},

			calcDistances() {
				const mileage_total = this.mileage_total
				mileage_total.km = 0
				mileage_total.sum = 0

				switch(this.geocoding.name) {
					case 'mapbox':
						
						this.addresses.forEach((address, i) => {
							//console.log(address)
							
						})
						break
					case 'gmaps':
						const directionsService = new google.maps.DirectionsService()
						const directionsRenderer = new google.maps.DirectionsRenderer()
						const fallback = this.calcDistancesFallback
						const mileage_rate = this.mileage_rate
						const passengers_rate = this.passengers_rate
						const mileage_total = this.mileage_total
						const totalSumCount = this.totalSumCount

						directionsRenderer.setMap(this.map)

						if (this.addresses.length > 1) {
							this.addresses.forEach((address, i) => {

								const next_address = this.addresses[i + 1]

								if (next_address) {
									const route = {
										origin: address.params.location,
										destination: next_address.params.location,
										travelMode: 'DRIVING'
									}

									directionsService.route(route,
										function(response, status) {
											if (status === 'ZERO_RESULTS') {
												next_address.params.mileage = fallback(route)
												mileage_total.km += next_address.params.mileage

												const interval_money_sum = next_address.params.mileage * mileage_rate
												const interval_passengers_sum = interval_money_sum / 100 * passengers_rate * next_address.params.passengers

												mileage_total.km += next_address.params.mileage
												mileage_total.sum += interval_money_sum + interval_passengers_sum
												totalSumCount()
											}
											
											if (status !== 'OK') {
												//window.alert('Directions request failed due to ' + status);
												return
											} else {
												directionsRenderer.setDirections(response)												
												const directionsData = response.routes[0].legs[0]

												if (directionsData) {
													next_address.params.mileage = directionsData.distance.value / 1000
													
													const interval_money_sum = next_address.params.mileage * mileage_rate
													const interval_passengers_sum = interval_money_sum / 100 * passengers_rate * next_address.params.passengers

													mileage_total.km += next_address.params.mileage
													mileage_total.sum += interval_money_sum + interval_passengers_sum
													totalSumCount()
												}
											}
										});
								}
							})
						}
						break
				}
			},

			calcDistancesFallback(route) {
				const line = new google.maps.Polyline({path: [route.origin, route.destination], map: this.map})
				const mk1 = new google.maps.Marker({position: route.origin, map: this.map})
  			const mk2 = new google.maps.Marker({position: route.destination, map: this.map})
				const R = 6371.0710
				const rlat1 = mk1.position.lat() * (Math.PI / 180)
				const rlat2 = mk2.position.lat() * (Math.PI / 180)
				const difflat = rlat2 - rlat1
				const difflon = (mk2.position.lng() - mk1.position.lng()) * (Math.PI / 180)
				const distance = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat / 2) * Math.sin(difflat / 2) + Math.cos(rlat1) * Math.cos(rlat2) * Math.sin(difflon / 2) * Math.sin(difflon / 2)))

				line.setMap(null)
				mk1.setMap(null)
				mk2.setMap(null)

				return distance
			},

			resetGeocoding(value) {
				this.geocoding = value
			},

			totalSumCount() {
				this.total_sum = `${this.formatTotalSum(Number((this.allowance_total.sum + this.mileage_total.sum).toFixed(2)))} ${String.fromCharCode(8364)}`
			}
		}
	}
</script>

<style>

	@font-face {
		font-family: 'Roboto';
		src: local('Roboto'),
			url('./fonts/Roboto-Regular.woff') format('woff'),
			url('./fonts/Roboto-Regular.woff2') format('woff2');
		font-style: normal;
	}

	.btrip-form {
    box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
		font-family: 'Roboto', sans-serif;
  }

	.btrip-form * {
		box-sizing: border-box;
	}

	.btrip-form-fieldset {
		margin: 20px 0;
		padding: 0;
		border: 0;
		box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
		text-align: left;
	}

	.b-trip-main-total {
		margin: 20px 0;
		padding: 15px;
		box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
		color: #ffffff;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: #1284e7;
	}

	.b-trip-total-label {
		font-size: 1.125rem;
    margin-right: 7px;
	}

	.b-trip-total-sum {
		font-size: 1.5rem;
    font-weight: 700;
	}

	.btrip-form-fieldset-header {
		padding: 15px;
		margin-bottom: 10px;
		background-color: #f1f1f1;
	}

	.btrip-form-fieldset-inner {
		padding: 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.btrip-form ul,
	.btrip-form ol,
	.btrip-form li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.btrip-input-field {
		margin-bottom: 30px;
		position: relative;
		flex: none;
		width: 100%;
	}

	.btrip-input-field._part25 {
		width: calc(25% - 10px);
	}

	.btrip-input-field._part33 {
		width: calc(33.3333% - 15px);
	}

	.btrip-input-field._part50 {
		width: calc(50% - 10px);
	}

	.btrip-input-field._part75 {
		width: calc(75% - 10px);
	}

	.btrip-input-field._rows {
		display: flex;
	}

	.btrip-input-field:last-child {
		margin-bottom: 0;
	}

	.btrip-input-field label {
		font-size: 0.75rem;
		font-weight: 700;
		display: block;
		margin-bottom: 5px;
		color: #2f3337;
	}

	.btrip-error-message {
		font-size: 0.75rem;
		margin-top: 5px;
		color: #ce412a;
		font-weight: 700;
	}
	
</style>