<template>

  <div id="app">
    <div class="form-wrapper">
      <b-trip-calc
        locale="en"
        :geo="geo_google"
        :mileage_rate="0.43"
        :passengers_rate="6.98"
        :half_daily_allowance="20"
        :full_daily_allowance="43"
        :is_personal_section="true"
        :is_supply_section="true"
        :is_mileage_section="true"
        :is_send_section="false"
      />
    </div>
  </div>
  
</template>

<script>

  export default {
    name: 'App',

    data() {
      return {
        geo_mapbox: {
          name: 'mapbox',
          api_key: 'pk.eyJ1Ijoiemh1cm9mZiIsImEiOiJjazlqbGpzdnIwOWUyM3VwOHBmbHpwNXg4In0.1-XbU7Rui-KavyASxcRG5A',
          bbox: [20.434570, 59.866883, 31.596680, 70.125430]
        },

        geo_google: {
          name: 'gmaps',
          api_key: 'AIzaSyDkKOhyLymoAVBJnKvFbxVT8P8EqYM1eCI',
          bbox: [59.866883, 20.434570, 70.125430, 31.596680],
          country_strict_mode: 'Finland'
        }
      }
    }
  }

</script>

<style>
  body {
    min-height: 700vh;
  }

  .form-wrapper {
    max-width: 650px;
    margin: 0 auto;
  }
</style>